# Entorno de ejecución
NODE_ENV=production

# Configuración de PostgreSQL
POSTGRES_HOST=146.190.121.187
POSTGRES_PORT=5432
POSTGRES_USER=sylvara_user
POSTGRES_PASSWORD=sylvara_password
POSTGRES_DB=sylvara_db

# Configuración de MongoDB
MONGO_URI=mongodb://146.190.121.187:27017/sylvara_biodiversity

# JWT
JWT_SECRET=super_secret_key_change_me
